# set directory of the Face_Recognition folder, the container
# of all the nupic related projects for face recognition
export NUPIC_PROJ_HOME=~/Documents/Development_Projects/Face_Regonition_Projects

# set Nupic variables
export NUPIC_CORE=$NUPIC_PROJ_HOME/nupic.core

# activate Python 2.7 environment for use with Nupic
source /opt/python_envs/nupic/bin/activate



