#!/usr/bin/env bash
# Fully-qualified path to this Bash script
PROJECT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export GIT_SSH_VARIANT="ssh"
ACTIVATE_FILE=$PROJECT_DIR/venv/bin/activate
. $ACTIVATE_FILE
export PYTHONPATH=$PROJECT_DIR/src
export PATH=$PATH:$PROJECT_DIR/src/nupredictor


