#!/usr/bin/env bash
# Fully-qualified path to this Bash script
PROJECT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"

# Python virtual environent
ACTIVATE_FILE=$PROJECT_DIR/venv/bin/activate

# Activate the virtual python environment
echo "Activating virtual python environment: $ACTIVATE_FILE"
if test -f $ACTIVATE_FILE; then
    . $ACTIVATE_FILE
else
    echo "Virtual Python environment not found. You should create one in $PROJECT_DIR"
fi

# Set the required variables
export PYTHONPATH=$PROJECT_DIR/src
export PATH=$PATH:$PROJECT_DIR/src/nupredictor

unset PS1
